#form-Enreg {
    display: none;
}
#monLogo{
    max-width: 3%;
}
.myInput{
    margin:10px 15px 5px 15px ;
}

.ligne{
    width:100%;
    text-align:left;
    margin-left:0;
}

#msg-password-erreur{
    color: red;
    display: none;
}

#msg-confirm-password-erreur{
    color: red;
    display: none;
}