#form-Enreg {
    display: none;
}
#monLogo{
    max-width: 3rem;
}
.myInput{
    margin:10px 15px 5px 15px ;
}

.ligne{
    width:100%;
    text-align:left;
    margin-left:0;
}

#msg-password-erreur{
    color: red;
    display: none;
}

#msg-confirm-password-erreur{
    color: red;
    display: none;
}
.card{
    align-items: center;
    padding: 5px;
    width:17rem;
    margin:auto;
    height: 547.2px;
    max-height: 547.2px;
    color: black;
}
.page{
    align-items: center;
}
.row{
    margin-top: 10px;
}
.montrerPassword{
    margin-top: 15px;
    margin-bottom: 15px;
}

.image-film{
    width: 260px;
    max-width: 260px;
    height: 390px;
    max-height: 390px;
}

.company{
    border-style: solid;
    padding: 5px 5px 5px 5px;
    border-radius: 10%;
    display: inline;
    margin-right: 30px;
    color: black;
}
.company h3{
    display: inline;
}
.main-content{
    margin-top: 15px;
}

.genres-container{ 
    border:2px solid #ccc; 
    width:300px; 
    height: 100px; 
    overflow-y: scroll; 
}

#formModifier {
    display: inline;
    margin-right: 10px;
}

#icon-film{
    width: 50px;
    height: 50px;
}

#confirmerPasse{
    display: none;
}
.petit-image-film{
    height: 50px;
    width: 35px;
}